* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --olive: #A3BCB6;
  --greenLeaf: #39603D;
  --brownGrey: #3G403D;
  --tanly: #DADED4;
  --white: #FFFFFF;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  background-color: var(--tanly);
  font-family: 'Roboto', sans-serif;;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

#jumbo {
  background-color: var(--greenLeaf);
}

.card-header {
  background-color: var(--olive);
}

.shadow {
  box-shadow: 0 .25rem .75rem black!important;
}